{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "exclude": [
    "lib",
    "dist"
  ],
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-runtime"
  ]
}